  <div *ngIf="isAdmin; else noAdmin">
    <br>
      <div class="container">
          <div class="container">
            <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
                <div class="blocks">
                  <a routerLink="/register">
                    <button  mat-raised-button color="primary">
                      <mat-icon>add</mat-icon> Crear Usuario
                    </button>
                  </a>
                </div>
            </div>
          </div>
      <br>
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Lista de Usuarios </h3>
            </mat-card-title>
            <mat-card-content>
              <mat-table [dataSource]="userService.users" class="mat-elevation-z8">
  
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="realm">
                  <mat-header-cell *matHeaderCellDef> Nombre Real </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.realm }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a type="button" (click)="delete(element.id)" title="eliminar">
                      <mat-icon class="icon">delete</mat-icon>
                    </a>
                    <a type="button" routerLink="/evento/{{element.id}}" title="ver">
                      <mat-icon class="icon">visibility</mat-icon>
                    </a>
                    <a type="button" routerLink="/evento/{{element.id}}/edit" title="editar">
                      <mat-icon class="icon">edit</mat-icon>
                    </a>
                    <a type="button" routerLink="/evento/{{element.id}}/opciones" title="opciones">
                      <mat-icon class="icon">list</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
              </mat-table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>  

  <ng-template #noAdmin>
    <div style="text-align:center">
      <h1>Inicio</h1>
      <p>
        descripcion descripcion
        <br> en contruccion
      </p>
    </div>  
  </ng-template>