<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{(eventoService.evento | async)?.titulo | uppercase}}</mat-card-title>
                <mat-card-subtitle>Crear Opciones</mat-card-subtitle>
            </mat-card-header>
            
            <div>
                <mat-list role="list">
                    <mat-list-item class="padding-small" *ngIf="(eventoService.evento | async)?.desde==(eventoService.evento | async)?.hasta" role="listitem"><span>Fecha:</span> {{(eventoService.evento | async)?.desde | date: 'd/M/y'}}</mat-list-item>
                    <mat-list-item class="padding-small" *ngIf="(eventoService.evento | async)?.desde!=(eventoService.evento | async)?.desde" role="listitem"><span>Desde:</span> {{(eventoService.evento | async)?.desde | date: 'd/M/y'}}</mat-list-item>
                    <mat-list-item class="padding-small" *ngIf="(eventoService.evento | async)?.hasta!=(eventoService.evento | async)?.hasta" role="listitem"><span>Hasta:</span> {{(eventoService.evento | async)?.hasta | date: 'd/M/y'}}</mat-list-item>
                    <mat-list-item class="padding-small" role="listitem"><span>Duracion:</span>{{(eventoService.evento | async)?.duracion}}</mat-list-item>
                </mat-list>
            </div>
           
            <form  [formGroup]="this.form" (ngSubmit)="onSubmit()" >
                <mat-card-content style="text-align:center;">          
                    <table class="table table-bordered" formArrayName="opciones">
                        <tr>
                          <th colspan="2">Complete las opciones a elegir para el evento</th>
                          <th width="50px"><button mat-button (click)="addOpcion()" title='Agregar Opcion' mat-fab class="sucess" ><mat-icon>add_box</mat-icon></button></th>
                        </tr>
                        <tr *ngFor="let opciones of getFormOpciones().controls; let i=index" [formGroupName]="i">
                          <td>
                            <mat-form-field class="full-width-input">
                                <mat-label>Dia</mat-label>
                                <mat-select formControlName="dia">
                                  <mat-option *ngFor="let dia of dias" [value]="dia.id">
                                    {{dia.name}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field class="full-width-input ">
                                <mat-label>Hora Inicio</mat-label>
                                <input matInput placeholder="Hora de Inicio" class="height-time" formControlName="hora" aria-label="Hora de Inicio" [ngxTimepicker]="fullTime" [format]="24">
                                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                            </mat-form-field>
                          </td>
                          <td>
                                <div mat-button (click)="removeOrClearOpcion(i)" mat-mini-fab class="delete button-remove"><mat-icon class="button-remove-icon">clear</mat-icon></div>
                          </td>
                        </tr>
                      </table>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="onReset()"><mat-icon>clear</mat-icon>Resetear</button>
                    <button mat-button type="submit" color="primary" mat-raised-button ><mat-icon>save</mat-icon>Finalizar</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
    <br>
    <div class="container">
        <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
            <div class="blocks">
                <button (click)="goBack()" mat-raised-button color="primary">
                    <mat-icon>undo</mat-icon> Volver
                </button>
            </div>
        </div>
    </div>

</div>