.card {
    margin: 150px;
    padding:50px;
    max-width: 400px;
}

.content{
    margin-top: 50px;
}
.main-image{
    margin:10px auto;
    width: 100%;
}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
    background-size: cover;
}

.line-bottom{
    border-bottom: solid 1px #3f51b5;
}

.line-top{
    border-top: solid 1px #3f51b5;
}
.padding-small{
    height: 27px;
    margin-bottom: 0px;
}
.padding-small span {
    background-color: #d2d2d2;
    padding: 3px 9px;
    border-radius: 13px;
    margin-right: 10px;
}

.mat-list-base .mat-list-item{
    height: 35px;
    margin-bottom: 15px;
}
.button-remove{
    height: 20px;
    width: 20px;
    margin-top:16px
}
.button-remove-icon{
    margin-top: -2px;
    margin-left: -2px;
    cursor: pointer;
}
.height-time{
    height: 20px;
}
.paddin-card{
    padding: 10px;
}

.sucess{
    background-color: rgb(39, 100, 18);
    color: #fff;
    margin-bottom: 20px;
}

.delete{
    background-color: rgb(167, 63, 22);
    color: #fff;
    border-radius: 100%;
}


.full-width-input {
    width: 100%;
}

.mid-width-input {
    width: 50%;
}