<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DateMatchers</mat-card-title>
      <mat-card-subtitle>Info 2020 - IAW</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/vectors/gracias-thank-you-hand-drawn-lettering-in-spanish-language-with-vector-id1064060990?k=6&m=1064060990&s=612x612&w=0&h=ZxuU_sBD1sXHbmrMCjkFpy1pZBoR08JJK8AVCI3GbUQ=" alt="Gracias">
    <mat-card-content class="center">
      <h1 class="center">
        Muchas gracias por dejar tu voto en la Encuesta!
      </h1>
      <h3 class="center">esperamos pronto tenerte nuevamente</h3>
    </mat-card-content>
</mat-card>
  