.example-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
}
  
.example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmgi1W8ozvL8fYLrbvYMGGXBZW_zhOFS0l7Q&usqp=CAU');
    background-size: cover;
}
.mat-card-image {
    height: 440;
}

.center{
    text-align: center;
}