

<div>
  <br>
    <div class="container">
        <div class="container">
          <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
              <div class="blocks">
                  <a routerLink="/evento/crear">
                    <button  mat-raised-button color="primary">
                      <mat-icon>add</mat-icon> Crear Evento
                    </button>
                  </a>
              </div>
          </div>
        </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content" *ngIf="(eventoService.eventos | async) as eventos; else loading">
        <mat-card class="card"> 
          <!-- *ngIf=(eventos?.length > 0) -->
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3 *ngIf="eventos?.length > 0">Eventos Recientes </h3>
            <h3 *ngIf="eventos?.length == 0">Por lo pronto no hay eventos disponibles...</h3>
          </mat-card-title>
          <mat-card-content *ngIf="eventos?.length > 0">
            <mat-table [dataSource]="eventos" class="mat-elevation-z8" style="max-height: 700px;">

              <ng-container matColumnDef="titulo">
                <mat-header-cell *matHeaderCellDef> Titulo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="desde">
                <mat-header-cell *matHeaderCellDef> Desde </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.desde | date:'short'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="hasta">
                <mat-header-cell *matHeaderCellDef> Hasta </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.hasta | date:'short'}} </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.descripcion }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a type="button" (click)="delete(element.id)" title="eliminar">
                    <mat-icon class="icon">delete</mat-icon>
                  </a>
                  <a type="button" routerLink="/evento/{{element.id}}" title="ver">
                    <mat-icon class="icon">visibility</mat-icon>
                  </a>
                  <a type="button" routerLink="/evento/{{element.id}}/edit" title="editar">
                    <mat-icon class="icon">edit</mat-icon>
                  </a>
                  <a type="button" routerLink="/evento/{{element.id}}/opciones" title="opciones">
                    <mat-icon class="icon">list</mat-icon>
                  </a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
            </mat-table>
          </mat-card-content>
        </mat-card>
      </div>
      
      <ng-template #loading>
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>No hay eventos disponibles </h3>
          </mat-card-title>
        </mat-card>
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
        </div>
      </ng-template>
    </div>
  </div>
</div>
