<div class="singup-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Registrarse</mat-card-title>
      </mat-card-header>
  
      <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
        <mat-card-content>

          <mat-form-field class="full-width">
            <input matInput formControlName="realm" placeholder="Nombre Completo">
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput formControlName="email" type="email" placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput formControlName="password" type="password" placeholder="Password">
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-flat-button color="accent" type="submit" class="btn-block">Registrarse</button>
  
      </form>
    </mat-card>
  </div>