<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{evento.titulo}}</mat-card-title>
                <mat-card-subtitle>editando el evento</mat-card-subtitle>
            </mat-card-header>
            
            <form  [formGroup]="form" (ngSubmit)="onSubmit()" >
            <mat-card-content>
                    <mat-form-field class="full-width-input">
                        <mat-label>Titulo</mat-label>
                        <input matInput type="text" formControlName="titulo" [(ngModel)]="evento.titulo" placeholder="Titulo">
                    </mat-form-field>
                     
                    <mat-form-field class="full-width-input">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" [(ngModel)]="evento.email" placeholder="ejemplo@server.com">
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" [(ngModel)]="evento.password" autocomplete="off" placeholder="password">
                    </mat-form-field>
                
                    <mat-form-field class="full-width-input">
                        <mat-label>Desde</mat-label>
                        <input matInput [matDatepicker]="desde" [(ngModel)]="evento.desde"  placeholder="Izaberite datum narudzbe"
                        formControlName="desde">
                        <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                        <mat-datepicker #desde></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <mat-label>Hasta</mat-label>
                        <input matInput [matDatepicker]="hasta" [(ngModel)]="evento.hasta"  placeholder="Izaberite datum narudzbe"
                        formControlName="hasta">
                        <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                        <mat-datepicker #hasta></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <mat-label>Duracion</mat-label>
                        <input matInput type="string" formControlName="duracion"  [(ngModel)]="evento.duracion" placeholder="duracion">
                        <span matPrefix>&nbsp;&nbsp;<mat-icon >access_time</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;</span> 
                        <span matSuffix>&nbsp;&nbsp; Min</span>
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput formControlName="descripcion" [(ngModel)]="evento.descripcion"  placeholder="Ingrese el detalle del evento"></textarea>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button type="submit" color="primary" mat-raised-button ><mat-icon>save</mat-icon>Siguiente</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
    <br>
    <div class="container">
        <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
            <div class="blocks">
                <button (click)="goBack()" mat-raised-button color="primary">
                    <mat-icon>undo</mat-icon> Volver
                </button>
            </div>
        </div>
    </div>
</div>