<div class="container restrict">
    <div *ngIf="evento" fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{evento.titulo | uppercase}}</mat-card-title>
                <mat-card-subtitle>#{{evento.id}}</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item class="padding-small" *ngIf="evento.desde==evento.hasta" role="listitem"><span>Fecha:</span> {{evento.desde | date: 'd/M/y'}}</mat-list-item>
                    <mat-list-item class="padding-small" *ngIf="evento.desde!=evento.desde" role="listitem"><span>Desde:</span> {{evento.desde | date: 'd/M/y'}}</mat-list-item>
                    <mat-list-item class="padding-small" *ngIf="evento.hasta!=evento.hasta" role="listitem"><span>Hasta:</span> {{evento.hasta | date: 'd/M/y'}}</mat-list-item>
                    <mat-list-item class="padding-small" role="listitem"><span>Duracion:</span>{{evento.duracion}}</mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
                <h4>Descripcion: </h4>
                <p class="paddin-card" >{{evento.descripcion}}</p>
                <mat-divider></mat-divider>
                <h4>Opciones: </h4>
                <mat-selection-list #opciones [multiple]="false" [(ngModel)]="selectedOption" (ngModelChange)="onNgModelChange($event)" class="margin-top-small">
                    <mat-list-option *ngFor="let opcion of opcionService.options | async" [value]="opcion" class="font-small">
                        {{ dias[opcion.dia] }} - {{ opcion.hora }} 
                        <!-- <div class="primera">
                            <span><mat-icon class="hija" *ngFor="let vote of opcion.data" style="color:{{vote?.color}}">{{vote?.icon}}</mat-icon></span>
                        </div> -->
                    </mat-list-option>
                </mat-selection-list>
                <p class="padding-small" *ngIf="selectedOption">
                 <span>Opcion seleccionada:</span> {{ dias[opciones.selectedOptions.selected[0]?.value.dia] }} - {{opciones.selectedOptions.selected[0]?.value.hora}}
                </p>
                <div *ngIf="selectedOption">
                    <table mat-table [dataSource]="votes" class="center mat-elevation-z8">
                        <!-- Position Column -->
                        <ng-container matColumnDef="valor" class="">
                          <th mat-header-cell *matHeaderCellDef> Tipo de Voto </th>
                          <td mat-cell *matCellDef="let voto" class="ancho"> {{voto.name}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="cantidad">
                          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                          <td mat-cell *matCellDef="let voto"> {{voto.cant}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                  
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="getLink()"><mat-icon>share</mat-icon>Compartir</button>
                <button mat-button><mat-icon>person</mat-icon>{{evento.user? evento.user.realm : evento.userId}}</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <br>
    <div class="container">
        <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
            <div class="blocks">
                <button (click)="goBack()" mat-raised-button color="primary">
                    <mat-icon>undo</mat-icon> Volver
                </button>
            </div>
        </div>
    </div>
</div>